<% include ./partials/header.ejs %>

<title>Log in</title>
</head>

<body>
  <div id="jumbotron" class="jumbotron">
    <form id="loginForm">
      <h2 id="heading">15 min chat sessions</h2>
      <div class="form-group">
        <label for="exampleInputEmail1">User name</label>
        <input id="name" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter User name">

    </form>
    <button id="loginbtn" type="submit" class="btn btn-primary">Log in</button>
  </div>

 


  <% include ./partials/footer.ejs %>