<% include ./partials/header.ejs %>

    <title>Log in</title>        
  </head>
  <body>
    
    <form id ="loginForm">
      <div  class="form-group">
        <label for="exampleInputEmail1">User name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter User name">
        <button id="loginbtn" type="submit" class="btn btn-primary">Log in</button>
    </form>

<% include ./partials/footer.ejs %>